build/
_build/
*.pyc
*.pyd
.idea/
source/tmp
.vscode/
source/.vscode/
source/tmp.txt
source/tmp1
source/tmp
source/t.py
source/t.json
source/t.html
**/*.mo
**/*.pot
__pycache__
source/locale/.doctrees
**/*.DS_Store
source/t.py
